html{background-color: burlywood;}

#images1{
    position: flex;


}

#Quote1,#Quote2,#Quote3,#Quote4,#Quote5,#Quote6{
    position: flex;
    align-self: center;
    padding-left: 50%;
    font-size: 100px;
    color:black;
}

#Rectangle{
    width: 100px;
    height: 150px;
    align-self: start;
    color:blueviolet;
}