#CYOA{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    overflow: scroll;
    text-align: center;
    background-color: rgb(204, 204, 204);
}
h1{
    text-align : center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(206, 205, 205);
}

button:hover{
    color: red;
    background-color:rgb(196, 195, 195) ;
    scale: 1;
}
button{
color:blue;
size: 5px;
align-self: center;
margin:5%;
}

html{
    background-color: rgb(189, 93, 189);
    align-content: center;
    background-attachment: fixed;
    height: fit-content;
}
